{% include 'header.html' %}
{% for usuario in usuarios %}
<form method="post" action="/update" enctype="multipart/form-data">
<div class="card">
    <div class="card-header">
        Editar usuario
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del usuario</h5>
        <p class="card-text">    
            <input type="hidden" value="{{usuario[0]}}" name="txtID" id="txtID"><br>
            <div class="form-group">
                <label for="txtNombre">Nombre</label>
                <input id="txtNombre" value="{{usuario[1]}}" class="form-control" type="text" name="txtNombre">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input id="txtEmail" value="{{usuario[2]}}" class="form-control" type="text" name="txtEmail">
            </div>
            <div class="form-group">
                <label for="txtContra">Contraseña</label>
                <input id="txtContra" value="{{usuario[3]}}" class="form-control" type="text" name="txtContra">
            </div>
            <input type="submit" value="Actualizar" class="btn btn-success">
            <a href="{{url_for('admin')}}" class="btn btn-primary">Regresar</a>
    </div>
</div>
</form> 
{% endfor %}
{% include 'footer.html' %}