<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="IMG/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
    <title>Queseria de mi sin ti</title>
</head>
<body>
    <div class="container">
            <nav class="navbar">
                <a href="{{url_for('index')}}" class="logo">
                    <img src="IMG/LogoQSDMST.PNG" alt="">
                </a>
                <ul>
                    <li class="nav-item" id="boton">
                        <a href="{{url_for('admin')}}" class="nav-link">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item" id="boton">
                        <a href="{{url_for('register')}}" class="nav-link">Registrarse</a>
                    </li>
                    <li class="nav-item" id="carrito">
                        <img src="IMG/Carrito.png" alt="">
                    </li>
                    <li class="nav-item" id="usuario">
                        <img src="IMG/Usuario.png" alt="">
                    </li>
                </ul>
            </nav>